@import "header.css";
@import "variables.css";

*{
    margin: 0;
    padding: 0;
    font-family: 'Inder', sans-serif;

}
body {
    font-family: 'Inder', sans-serif;
    background-color: var(--primary-color);
}
.modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* lichte zwarte achtergrond */
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 1000;
}

.modal-container.show {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 90%;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    text-align: center;
}
